<link rel="icon" type="image/x-icon" href="assets/favicon-32x32.png">
<nav class="navigation-menu">
    <h1 id="logo">Event Hormony</h1>
    <div class="hamburger-icon">                <!--button-->
        <span class="ham-line"></span>
        <span class="ham-line"></span>
        <span class="ham-line"></span>
    </div>
</nav>
<div class="navigation-menu-ul">                    <!-- click pana hide aganum-->
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/service">Service</a></li>
        <li><a routerLink="/testimonial">Testimonial</a></li>
    </ul>
</div>