<div class="landingpageHeading">
    <div class="landingpageTextSection">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, accusamus?</p>
    </div>
    <div class="landingpageImage">

    </div>

    <!-- <img src="assets/blackPeople-transformed_prev_ui.png" alt=""> -->
</div>

<div class="home-component-main-layout">
    <div class="introduction">
        <h1>Where Dreams Meet Excellence</h1>
        <p>At Event hormony, we pride ourselves on being your trusted event planning partner. Our dedicated team,
            creative vision, and unwavering commitment to turning your dreams into reality make us the perfect choice.
            We're excited to bring your events to life! What's next?</p>
    </div>
    <div class="mission">
        <h1>Our Mission: Turning Dreams into Unforgettable Event</h1>
        <p>Our mission at Event hormony is to wholeheartedly commit to our clients. We're driven by an unwavering
            dedication to turning their event dreams into unforgettable, meticulously executed experiences. Our passion
            lies in creating magical moments, and our clients can trust us to bring their visions to life with precision
            and care.
        </p>
    </div>
    <div class="service">
        <h1>Services: "Diverse Event Services to Make Every Occasion Unforgettable"</h1>
        <p>At Event hormony, we offer a wide array of services tailored to your unique needs, ensuring quality for every
            rupee you invest. Our expertise spans weddings, birthday parties, baby showers, Manjal Neratu Vizha,
            corporate functions, and retirement parties. Explore our "Services" page for comprehensive details and
            affordable pricing options.</p>
        <button type="button" id="ServiceComponent_route"><a routerLink=""></a>Service</button>
    </div>

</div>